.btn {
  display: inline-block;
  padding: 25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-white;
  border: 2px solid $color-default-white;
  user-select: none;
  cursor: pointer;

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  &:focus:not([disabled]) {
    outline: 2px solid $color-default-black;
  }

  &:active:not([disabled]) {
    color: $color-sapphire;
    background-color: $color-default-white;
    outline: none;
  }

  &[disabled] {
    color: $color-link-water;
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  &--hero {
    @include vp-1365 {
      padding: 20px;
    }

    @include vp-767 {
      padding: 23px;
    }
  }


  &--subscription {
    padding: 25px 59px;
    border: 2px solid $color-sapphire;
    color: $color-sapphire;

    @include vp-1365 {
      padding: 25px 69px;
    }

    @include vp-767 {
      padding: 25px 47px;
    }
  }

  &:hover:not([disabled]) {
    border: 2px solid $color-default-white;
  }

  &:focus:not([disabled]) {
    outline: none;
    border: 2px solid $color-default-white;
    opacity: 0.8;
  }

  &:active:not([disabled]) {
    opacity: 0.7;
    outline: none;
  }

  &[disabled] {
    color: $color-sapphire;
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
  }

  &--games {
    padding: 27px 56px;
    padding-bottom: 24px;
  }
}
