.games__wrapper {
  display: flex;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 60px;
  max-width: 1160px;
  justify-content: center;
  background-color: $color-default-white;

  @include vp-1365 {
    margin-top: 2px;
    padding-top: 60px;
    max-width: 678px;
  }

  @include vp-767 {
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: column;
  }
}

.games__text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 97px 80px;
  padding-top: 59px;
  padding-left: 78px;
  max-width: 500px;
  background-color: $color-torch-red;
  color: $color-default-white;

  @include vp-1365 {
    padding: 40px 39px;
    padding-top: 38px;
    padding-right: 33px;
    max-width: 300px;
  }

  @include vp-767 {
    padding: 37px 40px;
    padding-bottom: 40px;
    max-width: 100%;
  }


  h3 {
    margin: 0;
    margin-top: 29px;
    font-weight: 300;
    font-size: 18px;

    @include vp-1365 {
      margin-top: 12px;
      margin-left: 1px;
    }

    @include vp-767 {
      margin-top: 16px;
      margin-left: 0;
      line-height: 20px;
      font-size: 16px;
    }
  }
}

.games__button {
  margin-top: 30px;
  font-weight: 700;
  line-height: 12px;
  font-size: 12px;
  letter-spacing: 0.1px;

  @include vp-1365 {
    margin-top: 9px;
    margin-right: 7px;
    margin-left: 1px;
    letter-spacing: normal;
  }

  @include vp-767 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 0;
  }
}

.games__image-wrapper {
  max-width: 100%;
  background-color: $color-dark-cerulean-05;

  img {
    width: 100%;
    height: 100%;

    @include vp-767 {
      width: 100%;
      object-fit: cover;
      max-height: 290px;
    }
  }
}
