.hero {
  max-width: 1160px;
  display: grid;
  grid-template-columns: 33.2% 60.8%;
  gap: 70px;

  @include vp-1365 {
    grid-template-columns: 47.8% 47.9%;
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.hero__wrepper {


  & h1 {

  }

  & p {

  }
}
