.jury__wrapper {
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1160px;

  @include vp-1365 {
    padding-top: 30px;
  }

  @include vp-767 {
    padding-top: 40px;
    padding-bottom: 39px;
  }
}

.jury__titel {
  text-align: center;

  h2 {
    margin: 0;
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 54px;
    line-height: 54px;

    @include vp-767 {
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.jury__button {
  position: absolute;
  max-width: 23px;
  max-height: 35px;

  @include vp-767 {
    display: none;
  }

  &.swiper-button-prev {
    bottom: 229px;
    left: -56px;
    z-index: 1;

    @include vp-1365 {
      bottom: 233px;
      left: 2px;
    }
  }

  &.swiper-button-next {
    bottom: 236px;
    right: -58px;
    z-index: 1;
    transform: rotate(180deg);

    @include vp-1365 {
      bottom: 233px;
      right: 2px;
    }
  }

  & svg {
    width: 23px;
    height: 35px;
    stroke: $color-sapphire;
    fill: none;
  }
}
