.price {
  position: relative;
  background-color: $color-ghost-white;
}

.price__wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 100px 0;
  padding-bottom: 102px;

  @include vp-1365 {
    padding-top: 61px;
    padding-bottom: 90px;
  }

  @include vp-767 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.price__subscription {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  z-index: 2;
}


.price__image {
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 1;

  @include vp-1365 {
    bottom: 30px;
    right: 2px;
  }


  @include vp-767 {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
